<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> kopol API documentation </h1>
	
	<p> if you want detail of kopol 'API Server' => https://github.com/limdongjin/kopol </p>
  </body>
</html>
